<div class="">
<div id="userID" data-id="{{userID}}"></div>
</div>
<div class="cointainer">
    <ul id="matchedUser">
        <div id="noUsers" class="container d-none">

            <div class="row justify-content-center bg-warning ">
                <div id="failResult" class=" col-xs text-light bd-danger">
                    <h1> You currently have no matches! Start Liking more profiles Now!</h1>
                </div>
            </div>
            <div id="noMatchimg" class="row justify-content-center">
                <img src="https://images.unsplash.com/photo-1555959304-4cfdc80a15d8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"
                    alt="no matches">
            </div>
        </div>
    </ul>
    <div>
        <li id="confirmedMatches" class="d-none">

        </li>
    </div>
</div>
<script src="/assets/js/matches.js"></script>