
{{> globals/userportal}}
{{> globals/liked}}
<h1>Users!</h1>

<h2>Here are all the users</h2>

<ul>
  {{#each users}}
      {{> users/user-block user=this }}
  {{/each}}
</ul>


<h2>Add a User</h2>
<form class="create-form">

  <div class="form-group">
    <label for="un_input">UserName:</label>
    <input type="text" id="un_input" name="User name">
    <label for="email_input">Email:</label>
    <input type="text" id="em_input" name="email">
    <label for="pw_input">Password:</label>
    <input type="password" id="pw_input" name="password">
  </div>

  <button type="submit">Add User</button>
</form>
