<div class=" mx-5 my-5">

    <div class="container bg-secondary rounded ">
        <div id="title">
            <h1>
                About Us
            </h1>
        </div>
        <div id="description">
            <p>WeedMates is a user matching service designed with Marijuana lovers in mind. WeedMates connects users
                based on their weed preferences along with being "liked" or "disliked" on their user profile. Sign up
                and login today to start finding people near you with the same great taste in weed and a awemsome mutual
                interest today!</p>
        </div>
        <div class="">
            <h2>
                Contributer Info
            </h2>

            <div id="bios" class="row">
                <div class="col-sm">

                    <img id="johnIMG" src="https://avatars2.githubusercontent.com/u/67088604?s=400&v=4"
                        alt=" John's Picture">
                    <h4 id="John"> John's Bio</h4>
                    <p>I am a family man, my kids come first. I can be serious, but my default is to live and have fun.
                        I
                        love
                        to code in my free time.</p>
                </div>
                <div class="col-sm">
                    <img id="chadIMG"
                        src="https://avatars0.githubusercontent.com/u/12057073?s=460&u=1d9ec302c8301d0d46d7ff11aca5b94eaca851e8&v=4"
                        alt=" Chad's Picture">
                    <h4 id="Chad">Chad's Bio</h4>
                    <p>A United States Air Force Veteran with valuable experience in Healthcare , Leadership, and Web
                        Development.</p>
                </div>
                <div class="col-sm">
                    <img id="crystalIMG" src="https://avatars3.githubusercontent.com/u/67448984?s=400&u=a1a2d88d9cb5880d1648fb866db9c7bfe87bd62f&v=4"
                        alt=" Crystal's Picture">
                    <h4 id="crystal">Crystal's Bio</h4>
                    <p>I'm a witch who happens to be a huge Doctor Who fan, who loves old school video games, Invader Zim, and all things Tim Burton! I also love to create art! </p>
                </div>
            </div>
        </div>
    </div>
</div>