<div class="container">
<div id="title">
    <h1>
        About Us
    </h1>
</div>
<div id="description">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse qui aspernatur ab nostrum voluptas asperiores magnam architecto, maxime atque inventore placeat accusantium cumque, excepturi tempora harum est, odit fugit doloremque?</p>
</div>
<div id="bios">
    <h2>
    Contributer Info
    </h2>
    <h4 id="John"> John's Bio</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque odio molestias repellendus quas! Eveniet quos, reprehenderit delectus obcaecati nostrum tempore cupiditate facilis at dignissimos optio commodi laudantium dolores labore pariatur!</p>
    <h4 id="Chad">Chad's Bio</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore atque saepe consequuntur illum! Esse inventore, illum natus reprehenderit modi dolore quia consequuntur facilis? A autem nulla non consequatur praesentium delectus.</p>
    <h4 id="crystal">Crystal's Bio</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur facilis voluptates suscipit architecto ab vero deleniti voluptatem fugit minima hic iste expedita reiciendis voluptatum, explicabo inventore incidunt nihil? Aliquid, in!</p>
</div>
</div>