<div id="login" class="container">
    <div class="col-xs-6  ">
        <h1>Please Login or Create an account</h1>
        <form>
            <label for="fname">Email:</label>
            <input type="text" id="email-input" name="email-input"><br><br>
            <label for="lname">Password:</label>
            <input type="text" id="password-input" name="password-input"><br><br>
            <input type="submit" value="Login">
        </form>

    </div>
</div>