<div id="userID" data-id="{{userID}}"></div>
<div id="profileCont" class="">
    <div class="py-5 bg-black">
        <div class="container">
            <div class="row">

                <div class="col-xs">

                    <div id="userDemo" class="d-flex justify-content-left mb-1" style="height: 150px; width:150px">
                        <img class="card-img-top"
                            src="https://images.unsplash.com/photo-1544843784-26792fc045f7?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                            alt="Card image cap" class="">
                    </div>
                    <div>
                        <p id="username" class="text-light"> UserName</p>
                        <input value="" class="text-dark" {{#unless Authenticated}} readonly {{/unless}} id="usernameInput">
                    </div><br>
                    <div>
                        <p id="location" class="text-light"> Location</p>
                        <input value="" class="text-dark" {{#unless Authenticated}} readonly {{/unless}} id="locationInput">
                    </div><br>
                </div>
                <div id="description" class="col-xs">
                    <textarea id="descInput" class="text-dark" {{#unless Authenticated}} readonly
                        {{/unless}}> </textarea>
                </div>
                <div id="weedPref" class="col-xs">
                    <input type="checkbox" id="weed1" name="strain1" {{#unless Authenticated}} readonly {{/unless}} value="Sativa">
                    <label class="text-light" for="strain1"> Sativa</label><br>
                    <input type="checkbox" id="weed2" name="strain2" {{#unless Authenticated}} readonly {{/unless}} value="Indica">
                    <label class="text-light" for="strain2"> Indica</label><br>
                    <input type="checkbox" id="weed3" name="strain3" {{#unless Authenticated}} readonly {{/unless}} value="Hybrid">
                    <label class="text-light" for="strain3"> Hybrid</label><br>
                    
                </div>
            </div>
            <div class=" row justify-content-center">
                {{#if Authenticated}} 
                <button id="saveBtn" class="btn-success justify-content-center">Save</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/userprofile.js"></script>
{{#if Authenticated}}<script src="/assets/js/location.js"></script> {{/if}}>