
<div id="userPortal" class="container">
    <div id="products" class="flex ">
        <img src="" alt="productImage">
        <div id="products" class="flex ">
            <img src="" alt="productImage">
            <div id="products" class="flex ">
                <img src="" alt="productImage">
            </div>
        </div>
    </div>
</div>
