<div id="footer" class=" flex  bg-dark ">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xs text-light">
                <h3 class="">Contributers</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs">
                <h7 class="text-light col-xs-4 mx-1">
                    John Baxter
                </h7>
                <a href="https://github.com/jbaxter91">https://github.com/jbaxter91</a>
            </div>
            <div class="col-xs">
                <h7 class="text-light col-xs-4 mx-1">
                    Chad Coleman
                </h7>
                <a href="https://github.com/chadalac27">https://github.com/chadalac27</a>
            </div>
            <div class="col-xs">
                <h7 class="text-light col-xs-4 mx-1">
                    Crystal Clausen
                </h7>
                <a href="https://github.com/Crystalclausen7">https://github.com/Crystalclausen7</a>
            </div>
        </div>
    </div>


</div>