<div class="mx-auto pb-5 px-5 flex  bg-dark row">
    <h3 class="bg-dark">Contributers</h3>
    <div class="container-fluid">
        <div class="row">
            <div>
                <h7 class="text-light col-xs-4 mx-1">
                    John Baxter
                </h7>
                <a href="https://github.com/jbaxter91">https://github.com/jbaxter91</a>
            </div>
            <div>
                <h7 class="text-light col-xs-4 mx-1">
                    Chad Coleman
                </h7>
                <a href="https://github.com/chadalac27">https://github.com/chadalac27</a>
            </div>
            <div>
                <h7 class="text-light col-xs-4 mx-1">
                    Crystal Clausen
                </h7>
                <a href="https://github.com/Crystalclausen7">https://github.com/Crystalclausen7</a>
            </div>
        </div>
    </div>


</div>