{{!-- <div class="containter"> 
    <div class="jumbotron">

    </div> --}}
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="/AboutUs">WeedMates</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item bg-dark">
                <a id="currentUsername" class="nav-link" href="/profile"> Your Profile!<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item bg-dark">
                <a class="nav-link" href="/WeedMates">Your WEEDMATES!</a>
            </li>
            <li class="nav-item bg-dark">
                <a class="nav-link" href="/userportal">Find a WEEDMATE!</a>
            </li>

        </ul>

    </div>
</nav>