<div id="leftNavbtn" class="flex-left container button">
    <button> Home</button>
    <button> Disliked Products</button>
    <button> Weed Mates</button>
</div>
<div>
    <h3> Liked Products</h3>
    <li>
        {{#each likedProducts}}
        {{/each}}
    </li>
</div>