<div id="leftProfile" class="container">
    <h3 id="username" class="text">User Name</h3>
    <div id="leftNavbtn" class="button">
        <button> Liked Products</button>
        <button> Disliked Products</button>
        <button> Weed Mates</button>
    </div>
</div>
<div id="userPortal" class="container">
    <div id="products" class="flex ">
        <img src="" alt="productImage">
        <div id="products" class="flex ">
            <img src="" alt="productImage">
            <div id="products" class="flex ">
                <img src="" alt="productImage">
            </div>
        </div>